{% extends 'base.html' %}

{% block estilos %}
<style>
    .user-card {
        margin: 10px;
        padding: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .add-user-button {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
<div class="container">
    <h1>User Information</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="user-card">
                <p><strong>ID:</strong> {{ user.id }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Created On:</strong> {{ user.created_at }}</p>
                <p><strong>Last Updated At:</strong> {{ user.updated_at }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
